<footer class="main-footer">
  <!-- Default to the left -->
  <div class="text-center">
    <strong
      >Copyright &copy; 2014-2024
      <br />
      <a href="<%=path.home %>" class="text-decoration-none"
        >Subhankar Bhattacharyya & Sumana Karmakar</a
      ></strong
    >
    <br />
    All rights reserved
  </div>
</footer>
