<footer class="main-footer">
  <!-- Default to the left -->
  <div class="text-center">
    <strong
      >Copyright &copy; 2024-2025
      <br />
      <a href="<%=path.home %>" class="text-decoration-none"
        >Subhankar Bhattacharyya</a
      ></strong
    >
    <br />
    All rights reserved
  </div>
</footer>
