<div
  style="height: 80vh"
  class="d-flex align-items-center justify-content-center"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <!-- Display success message if available -->
        <% if (successMessage && successMessage.length > 0) { %>
        <div class="alert alert-success mt-3" role="alert">
          <%= successMessage %>
        </div>
        <% } %>

        <!-- Display error message if available -->
        <% if (errorMessage && errorMessage.length > 0) { %>
        <div class="alert alert-danger mt-3" role="alert">
          <%= errorMessage %>
        </div>
        <% } %>
        <div class="card shadow">
          <div class="card-body">
            <h3 class="mb-4 text-center">Update Your Password</h3>
            <form
              id="createCategoryForm"
              action="/admin/password/update"
              method="POST"
            >
              <!-- Category Name -->
              <div class="mb-3">
                <label for="categoryName" class="form-label"
                  >Current Password</label
                >
                <input
                  type="password"
                  class="form-control mb-3"
                  name="currentPassword"
                  placeholder="Enter current password"
                  required
                />

                <label for="categoryName" class="form-label"
                  >New Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  name="newPassword"
                  placeholder="Enter new password"
                  required
                />
              </div>

              <!-- Submit Button -->
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
